@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 style="color: red">@ViewData["Title"]</h1>
    <p style="color: red">This account has been locked out, please try again later.</p>
</header>
