@page
@model Assignment_BusApplication.Pages.Admin.EditModel

@{
    ViewData["Title"] = "Edit";
}
<div class="container transparent-container">
<h1>Edit</h1>

<h4>Bus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" style="color: red"></div>
            <input type="hidden" asp-for="Bus.BusId" />
            <div class="form-group">
                <label asp-for="Bus.BusNumber" class="control-label"></label>
                <input asp-for="Bus.BusNumber" class="form-control" />
                <span asp-validation-for="Bus.BusNumber" style="color: red"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bus.DriverName" class="control-label"></label>
                <input asp-for="Bus.DriverName" class="form-control" />
                <span asp-validation-for="Bus.DriverName" style="color: red"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bus.DriverNumber" class="control-label"></label>
                <input asp-for="Bus.DriverNumber" class="form-control" />
                <span asp-validation-for="Bus.DriverNumber" style="color: red"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
